@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-color: #EDE8F5;
    height: 100vh;
    font-family: "Rubik";
}

h1{
    margin: 0px;
    font-weight: 500;
}

main{
    padding-top: 20px;
    padding-left:90px;
}

.activity{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.3rem rgb(0, 0, 0, 0.4));
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.activityName{
    font-weight: 500;
}

.activityButton{
    font-size: 1rem;
    color: #ffff;
    background-color: #3D52A0;
    padding: 5px 20px;
    border-radius: 40px;
    border: none;
    transition: background-color 0.5s;
}

.activityButton:hover{
    cursor: pointer;
    background-color: #132d81;
}

#activityButtonsContainer{
    gap:10px;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
}


#buttonDelete{
    background-color: #B22234;
}

#buttonDelete:hover{
    background-color: #791c27;
}

#containerActivities {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#spanVisualizeParticipants{
    color: #58648d;
}

#spanVisualizeParticipants:hover{
    cursor: pointer;
}

@media (max-width: 500px){

    h1{
        font-size: 1.7rem;
        text-align: center;
    }
    #containerActivities {
        padding: 50px 0px;
    }


    main{
        padding: 0px;
        padding-top: 80px;
    }

}

